html{background:#222 url(http://m3.img.libdd.com/farm4/2012/1106/22/11391B94572DA30ACB4E22E302E9C4146B22EC48DCDCE_22_22.JPEG);color:#888;font-family:"Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;}
h2{margin:10px 10px 10px 20px;font-size:1em;text-shadow:5px 5px 5px black;font-family:Arial;font-weight:normal;font-style:oblique;}
a{text-decoration:none;}
a:link {color:#888;}
a:visited{color:#888;}
tr a:hover{background:white;font-weight:bold;}
tr{text-align:center;}
tr a{margin:10px 20px;} /*This is the table hyperlinks style*/    							 
#page-wrap{width:800px;height:auto;margin:35px auto 0px;}
#header{}
#logo{text-align:center;}
#content{position:static;top:125px;}
#footer{width:800px;margin:0 auto;font-size:12px;}
#memory{text-align:right;margin:20px;font-size:8px;}/*This is the memory style*/
#copyright{float:left;margin:10px;}/*This is the footer style*/
#contact{float:right;margin:10px;text-transform:capitalize;}
iframe#tumblr_controls{display:none;}
